<form action="https://formspree.io/{{ with .Params.formId }}{{ . }}{{ end }}" method="POST" class="contact__form">
  <div class="contact__input--container">
    <div class="contact__input--wrapper">
      <label class="contact__label">
        Name    
      </label>
      <input type="text" name="name" class="contact__input" aria-label="Name" required>
    </div>
    <div class="contact__input--wrapper">
      <label class="contact__label">
        Email    
      </label>
      <input type="email" name="_replyto" class="contact__input" aria-label="Email" required>
    </div>
  </div>
  <div class="contact__message--wrapper">
    <label class="contact__label">
      Message    
    </label>
    <textarea name="message" class="contact__message" aria-label="Message" required></textarea>
  </div>
  <input type="submit" value="Send" class="contact__send">
</form>