<form action="https://getform.io/f/{{ with .Params.getformToken }}{{ . }}{{ end }}" method="POST" class="contact__form">
  <div class="contact__input--container">
    <div class="contact__input--wrapper">
      <label class="contact__label">
        Name
      </label>
      <input type="text" name="name" class="contact__input" aria-label="Name" required>
    </div>
  </div>
  <div class="contact__input--container">
    <div class="contact__input--wrapper">
      <label class="contact__label">
        Email
      </label>
      <input type="email" name="_replyto" class="contact__input" aria-label="Email" required>
    </div>
  </div>
  <div class="contact__input--container">
    <div class="contact__input--wrapper">
      <label class="contact__label">
        Message
      </label>
      <textarea name="message" class="contact__message" aria-label="Message" required></textarea>
    </div>
  </div>
  <input type="submit" value="Send" class="contact__send">
</form>

<script>
  var uploadBtn = document.querySelector('#uploadBtn');
  uploadBtn.addEventListener('click', function (elem) {
    var upload = document.querySelector('#upload');
    upload.click();
    upload.onchange = function (e) {
      var fullPath = e.target.value;
      if (fullPath) {
        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
          filename = filename.substring(1);
        }
        uploadBtn.setAttribute('value', filename);
      }
    }
  });
</script>
