<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
    {{ partial "head/scripts" . }}
    {{ partial "head/styles" . }}
    {{ partial "head/meta" . }}
    {{ partial "head/meta_json_ld" . }}
    {{ partial "head/services" . }}
    {{ partial "head/custom-head" . }}
</head>

<body id="root" class="theme__light">
    <script>
        let body = document.getElementById("root")
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            body.classList.add("theme__dark")
            body.classList.remove("theme__light")
        } else {
            body.classList.add("theme__light")
            body.classList.remove("theme__dark")
        }
        window.matchMedia('(prefers-color-scheme: dark)')
            .addEventListener('change', event => {
                if (event.matches) {
                    body.classList.remove("theme__light")
                    body.classList.add("theme__dark")
                } else {
                    body.classList.remove("theme__dark")
                    body.classList.add("theme__light")
                }
            })
    </script>
    <div id="container">
        {{ partial "body/main-left" . }}
        <div class="wrapper" data-type="{{ .Type }}" data-kind="{{ .Kind }}">
            {{ partial "navbar/site-nav" . }}
            {{ partial "header/site-header" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "body/custom-body" . }}
            {{ partial "footer/site-footer" . }}
        </div>
        {{ partial "body/main-right" . }}
    </div>
</body>

</html>
