$darkcode: '';

@if $theme_dark_chroma_background == dark {
  $darkcode: (
    content-code-color: #fcfcfa,
    content-pre-main-color: #FFA7C4,
    content-pre-color: #eee,
    content-pre-number-color: #666,
    content-pre-background-color: #171f2e,
    content-pre-header-background-color: darken(#011627, 1.5%),
    content-pre-border-background-color: #3a3a3a,
    content-pre-header-color: #FCFCFA,
  );
} @else if $theme_dark_chroma_background == light {
  $darkcode: (
    content-code-color: #26a69a,
    content-pre-main-color: #607d8b,
    content-pre-color: #344952,
    content-pre-number-color: #aaa,
    content-pre-background-color: #F5F2F0,
    content-pre-border-background-color: darken(#F5F2F0, 7%),
    content-pre-header-background-color: darken(#F5F2F0, 3%),
    content-pre-header-color: #344952,
  );
} @else {
  $darkcode: (
    content-code-color: #fcfcfa,
    content-pre-main-color: #FFA7C4,
    content-pre-color: #eee,
    content-pre-number-color: #666,
    content-pre-background-color: #171f2e,
    content-pre-header-background-color: darken(#011627, 1.5%),
    content-pre-border-background-color: #3a3a3a,
    content-pre-header-color: #FCFCFA,
  );
}